{% extends 'layout.html.twig' %}
{% block _title %}Something went wrong{% endblock _title %}
{% block _content %}
<h1>Something went wrong</h1>
<p>Something went wrong, please try again later.</p>
{% endblock _content %}
